.theme-toggle {
  background: var(--bg-card);
  border: 1px solid var(--border-default);
  border-radius: 50%;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;


  transition: 0.2s;

}

.theme-toggle:hover {
  transform: scale(1.05);
}

.theme-toggle img {
  width: 24px;
  height: 24px;
}
